$white: #f2f2f2;

$lightestgrey: #e6e6e6;

$lightgrey: #c2c2c2;

$grey: #575757;

$darkgrey: #262626;

$black: #0d0d0d;

$alert: #cc0000;

$transparentred: rgba(214, 214, 214, 0.7); 

//rgba(237, 28, 36, 0.7);

$red: #ed1c24;

$darkred: #ca181f;