<footer>

	<div class="wrap">
	
		<div class="col contact">
		
			<h3>Contact</h3>
			
			<ul>
			
				<li>
					
					<img src="../images/TIE_logo_small.png"/>
					
					Marketing Edinburgh
					
				</li>
				<!--
				<li>
				
					Edinburgh Brand Logo and address
					
				</li>
				-->
				<li>
					
					Telephone: 0131 456 2345
					
				</li>
				
				<li>
				
					Fax: 0131 456 2346
					
				</li>
				
				<li>
				
					<a href="mailto:email@marketingedinburgh.co.uk">email@marketingedinburgh.co.uk</a>
					
				</li>
				
			</ul>	
		
		</div>
		
		<div class="col connect">
		
			<h3>Connect</h3>
		
			<ul>
			
				<li>
				
					<a href="#" class="button">Sign up to News and Offers</a>
					
				</li>
				
				<li>
				
					<a href="#" class="button">Give Feedback</a>
					
				</li>
				
				<li>
					
					<a href="#"><i class="fa fa-twitter-square"></i> This is Edinburgh on Twitter</a>
					
				</li>
				
				<li>
				
					<a href="#"><i class="fa fa-facebook-square"></i> This is Edinburgh on Facebook</a>
					
				</li>
				
				<li>
						
					<a href="#"<i class="fa fa-google-plus-square"></i> This is Edinburgh on Google+</a>
					
				</li>
				
				<li>
						
					<a href="#"><i class="fa fa-youtube-play"></i></i> This is Edinburgh on YouTube</a>
					
				</li>
				
				<li>
				
					<a href="#"><i class="fa fa-instagram"></i> This is Edinburgh on Instagram</a>
					
				</li>
			
			</ul>
		
		</div>
		
		<div class="col sitemap">
		
			<h3>Sitemap</h3>
			
			<ul>
			
				<li><a href="#">Discover</a></li>
				
				<li><a href="#">Things to Do</a></li>
				
				<li><a href="#">Where to Stay</a></li>
				
				<li><a href="#">For Visitors</a></li>
				
				<li><a href="#">Blog</a></li>
				
				<li><a href="#">Social Hub</a></li>
				
				<li><a href="#">Campaign</a></li>
				
				<li><a href="#">Study</a></li>
				
				<li><a href="#">Invest</a></li>
				
				<li><a href="#">Conference</a></li>
				
				<li><a href="#">Film</a></li>
				
				<li><a href="#">About Us</a></li>
				
				<li><a href="#">Media Centre</a></li>
								
			</ul>
		
		</div>
		
		<div class="col legals">
		
			<h3>Legal Information</h3>
		
			<ul>
			
				<li>
				
					<a href="#">About this Website</a>
					
				</li>
				
				<li>
				
					<a href="#">Accessibility</a>
					
				</li>
				
				<li>
				
					<a href="#">Terms & Conditions</a>
					
				</li>
				
				<li>
				
					<a href="#">Freedom of Information</a>
					
				</li>
				
				<li>
				
					<a href="#">Privacy Policy</a>
					
				</li>
				
				<li>
				
					<a href="#">Disclaimer</a>
					
				</li>
				
			</ul>
		
		</div>
	
	</div>

	<div class="bottom_footer">

		<div class="wrap">
		
			<div class="copyright">
			
				<ul>
				
					<li>
					
						Copyright Marketing Edinburgh
						
					</li>
					
					<li>
					
						<div id="footer_logo">
					
							<a href="index.html">Marketing Edinburgh</a>
							
						</div>
						
					</li>	
					
				</ul>
			
			</div>
	
		</div>
	
	</div>

</footer>