<header>

	<div class="wrap">
	
		<div class="websites">
		
			<ul>
			
				<li>
				
					<a href="#">Media Centre</a>
					
				</li>
				
				<li>
				
					<a href="#">About Us</a>
					
				</li>
			
			</ul>
		
		</div>
		
		<div class="tertiery_nav">
		
			<ul>
			
				<li>
				
					<a href="#">Study</a>
					
				</li>
				
				<li>
				
					<a href="#">Invest</a>
					
				</li>
				
				<li>
				
					<a href="#">Conference</a>
					
				</li>
				
				<li>
				
					<a href="#">Film</a>
					
				</li>
			
			</ul>
		
		</div>
		
		<div class="main_head">
	
			<div id="logo">
			
				<h1>
				
					<a href="index.html">Marketing Edinburgh</a>
					
				</h1>
						
			</div>
			
			<div class="header_intro">
			
				<h1>Official Guide to Edinburgh</h1>
			
			</div>
			
			<div class="header_info">

				<div class="weather">
				
					<ul>
						
						<li>
						
							<img src="images/weather/cloudy.png"/>
							
						</li>
						
						<li>
							
							11&deg;C
							
						</li>
						
					</ul>
				
				</div>
				
				<div class="social">
				
					<ul>
					
						<li>
						
							<a href="#"><i class="fa fa-twitter-square"></i></a>
							
						</li>
						
						<li>
						
							<a href="#"><i class="fa fa-facebook-square"></i></a>
							
						</li>
						
						<li>
						
							<a href="#"<i class="fa fa-google-plus-square"></i></a>
							
						</li>
						
						<li>
						
							<a href="#"><i class="fa fa-youtube-play"></i></i></a>
							
						</li>
						
						<li>
						
							<a href="#"><i class="fa fa-instagram"></i></a>
							
						</li>
						
					</ul>
				
				</div>
					
				<div class="search">
				
					<form>
					
						<input type="text" placeholder="Search...">
						
						<input type="submit" value="">
						
					</form>
				
				</div>
			
			</div>
		
		</div>
			
	</div>

</header>